
	</BODY>

	<style>
	.footer {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
	}
	</style>

	<div class="footer">
  		<small>&copy; Copyright 2020, YUJIN (Jeanie) Chen </small>
	</div>
</HTML>
