<!DOCTYPE html>
<html>
	<head>		
		<TITLE> My Blog </TITLE>
		<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</HEAD>
	<BODY>
		
		<div class="ui fixed inverted menu">
			<div class="ui container main">
				<a class="header item" href="/" ><i class="spinner icon"></i> Jeanie's Collection </a>
				<a class="item" href="/" ><i class="home icon"></i> View All </a>
				<a class="item" href="/blogs/new"><i class="edit icon"></i>New Post</a>
			</div>	
		</div>

		
		