i.github {
	font-size: 2.5rem;
}

body { 
    padding-top: 8rem; 
	padding-left:5rem;
	padding-right:5rem;
}

#deleteBtn {
	display: inline;
	margin-left: 0.5rem;
}

#showpageDate {
	margin-bottom: 5rem;
}